#grid {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 80% 20%;
	width: 100vw;
	height: 100vh;
}
.nav-bar {
	background-color: azure;
	width: 100%;
	height: 100%;
}

.album {
	margin: auto;
	background-color: beige;
	width: 100%;
	height: 100%;
}

.music-player {
	background-color: bisque;
	grid-column-end: 2;
	width: 100%;
	height: 100%;
}
