@font-face {
	font-family: freePixel;
	src: url(FreePixel.ttf);
}

@font-face {
	font-family: HEROBEAM;
	src: url(HEROBEAM-Regular.ttf);
}

* {
	margin: 0;
	/* padding: 0; */
}

body {
	font-family: freePixel;
	margin: 5px;
}

ul li {
	list-style-type: none;
	margin: 0;
	padding: 5px;
}

ul {
	padding: 0;
}

img {
	display: block;
	width: 25%;
	margin: auto;
}

h2 {
	margin-top: 10px;
	text-align: center;
	font-family: HEROBEAM;
}

h5 {
	display: inline-block;
	margin: 0;
}

h4 {
	margin: 0;
	margin-top: 10px;
	text-align: center;
}

.nav-button {
	width: 100%;
	height: 100%;
	padding: 8px;
	background-color: #f3cf7f;
	border-radius: 5px;
	font-family: freePixel;
	font-weight: 700;
	box-shadow: 0 4px #302021;
}

.nav-button:hover {
	background-color: #ecb247;
	margin-top: 2px;
	box-shadow: 0 2px #302021;
}

#grid {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 83% 17%;
	width: 98vw;
	height: 95vh;
	column-gap: 10px;
	row-gap: 12px;
}

.nav-bar {
	background-color: #e4b252;
	width: 100%;
	height: 100%;
	border: 3px solid #302021;
	border-radius: 2px;
	box-shadow: 2px 2px #302021;
}

.album {
	margin: auto;
	background-color: #9c791f;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	border: 3px solid #302021;
	border-radius: 2px;
	box-shadow: 2px 2px #302021;
}

.track-list li {
	background-color: #ffefb9;
	margin: 5px;
	border: 3px solid #302021;
	border-radius: 2px;
}

.track-list button {
	padding: 0;
	height: 28px;
	background-color: transparent;
	border: none;
}

.music-player {
	background-color: #fcda9d;
	grid-column: span 2;
	width: 100%;
	height: 100%;
	border: 3px solid #302021;
	border-radius: 2px;
	box-shadow: 2px 2px #302021;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: -10px;
}

.playPause-track,
.prev-track,
.next-track {
	padding: 5px;
	opacity: 0.8;
	/* Smoothly transition the opacity */
	transition: opacity 0.2s;
}

/* Change the opacity when mouse is hovered */
.playPause-track:hover,
.prev-track:hover,
.next-track:hover {
	opacity: 1;
}

/* Define the slider width so that it scales properly */
.slider_container {
	width: 75%;
	max-width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.seek_slider {
	width: 60%;
}

.current-time,
.total-duration {
	padding: 10px;
}

/* Change the mouse cursor to a pointer
   when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
	cursor: pointer;
}
